div(class='eop')
  p.discover-heading.sans-serif Discover The Realm of Computer Science Topics!
  div(class='tag-grid')
  button(class='tag-button') Programming
  button(class='tag-button') Python
  button(class='tag-button') java
  button(class='tag-button') C
  button(class='tag-button') Game programming
  button(class='tag-button') Data Science
  button(class='tag-button') Machine Learning
  button(class='tag-button') Bootcamp
  button(class='tag-button') arm
  ul.footer-links.sans-serif
    li
      a(href="") Help
    li
      a(href="") Status
    li
      a(href="") Writers
    li
      a(href="") Blog
    li
      a(href="") Careers
    li
      a(href="") Privacy
    li
      a(href="") Terms
    li
      a(href="/about") About