div(class='eop')
  p.discover-heading.sans-serif Codex is based off of the website Medium! Check out our Github links down below
  div(class='tag-grid')
    img(src="/images/codexLogoShort.png", alt="")
  ul.footer-links.sans-serif
    li
      a(href="") Justin
    li
      a(href="") Kyle
    li
      a(href="") Ricky
    li
      a(href="") Ken
    li
      a(href="/about") About