div(class='eop')
  p.discover-heading.sans-serif Codex is based off of the website Medium! Check out our Github links down below
  div(class='tag-grid')
    img(src="/images/codexLogoShort.png", alt="")
  ul.footer-links.sans-serif
    li
      a(href="https://github.com/justinrusso") Justin
    li
      a(href="https://github.com/kvh8899") Kyle
    li
      a(href="https://github.com/rickythewriter") Ricky
    li
      a(href="https://github.com/kenjulian") Ken
    li
      a(href="/about") About