extends layout.pug 
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" )

block content
  div(class="topbar topbarA")
    img(src="../images/codexLogo.png" id="logo" alt="LOGO" )
    nav()
    ul(id="navbar")
      li() 
        a(href="") Write a Story
        div(class='dropdown')
            div(class='outernamediv')
                img(src="../images/defaultavatar.jpeg" class="profpic" alt="")
                div(class='namediv')
                    p(class='profname') #{username}
                    p(class='profname') #{email}
            a(href="" class='dselect') Stories
            a(href="" class='dselect') Sign Out
      li()
        a(class="profileMenu")
            img(src="../images/defaultavatar.jpeg" class="metabar-menu profpic" alt="")
