extends layout

include mixins/utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/create-story.css")
  //- add page specific js
  script(src="/javascripts/story-editor.js" type="module" defer)

block navbar
  a(href="/" alt="CodeX Home")
    img.logo(src="../images/codexLogo.png" alt="CodeX Logo" )
  nav
    form(method='post' action='/stories/new')
      input(type="hidden" name="_csrf" value=csrfToken)
      button.button.contained.rounded(form="storyForm") Create Story
    include includes/nav-user-dropdown.pug

block content
  div(class='write-Content')
    +validationErrorSummary(locals.errors)
    div(id="form" class="form")
      form(method="post" action="/stories/new" id='storyForm')
        input(type="hidden" name="_csrf" value=csrfToken)

        +field("Title", "heading", story.heading, "text", true, "Title", "h1")
        +field("Subtitle", "subText", story.subText, "text", false, "Subtitle", "h2")
        +field("Story Image Url", "headerImage", story.headerImage, "text", false, "Image URL", "serif")
        div.main-text-input-wrapper
          label(for="mainText") Story Body
          textarea.serif(id="mainText", name="mainText" required placeholder="Render your thoughts...")=story.mainText
          p.sans-serif.input-helper.display-after-loaded This input supports 
            a(href="https://www.markdownguide.org/cheat-sheet/" target="_blank") Markdown
            | .
      