extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="topbar")
    img(src="../images/codexLogo.png" id="logo" alt="LOGO" )
    nav()
    ul(id="navbar")
      li()
        a(href="") Our story 
      li()
        a(href="") Write 
      li() 
        a(href="/login") Sign In
      li()
        a(href="/signup" id="login") Get Started
  div(class="background")
    div(id="openingText")
      h1= title
      p It's easy and free to post your thinking on any topic and connect with millions of readers.
      button(id="startWriting") Start Writing
  div(class="mid-content")
    p(class="mid-content-title") Trending on Codex!
    div(class="story-grid")
      div(class='story-grid-story')
        div(class="inner-story")
          p(class='num') 01
          div(class='author')
            div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
            h2 Please Come And Be Fat 
            p(class='meta-data') Nov 13 - 6 min read
      div(class='story-grid-story')
        div(class="inner-story")
            p(class='num') 02
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') Ryan JOHNSON
              h2 I’m A Twenty Year Truck Driver, I Will Tell You Why America’s...
              p(class='meta-data') Nov 13 - 6 min read
      div(class='story-grid-story')
        div(class="inner-story")
            p(class='num') 03
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') Matt Charnock
              h2 Ivy Getty’s San Francisco Wedding Is Why We Need a Wealth Tax
              p(class='meta-data') Nov 13 - 6 min read
      div(class='story-grid-story')
        div(class="inner-story")
            p(class='num') 04
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2 Please Come And Be Fat 
              p(class='meta-data') Nov 13 - 6 min read
      div(class='story-grid-story')
        div(class="inner-story")
            p(class='num') 05
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2 Please Come And Be Fat 
              p(class='meta-data') Nov 13 - 6 min read
      div(class='story-grid-story')
        div(class="inner-story")
            p(class='num') 06
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2 Please Come And Be Fat 
              p(class='meta-data') Nov 13 - 6 min read
  div(class='end-content')
    div
      div(class='story-grid-story')
          div(class="inner-story")
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2(id='aa') Ivy Getty’s San Francisco Wedding Is Why We Need a Wealth Tax
              p(class='meta-data') Nov 13 - 6 min read
          img(src="../images/placeholder.gif" class='listimg' alt="404")
      div(class='story-grid-story')
          div(class="inner-story")
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2(id='aa') Ivy Getty’s San Francisco Wedding Is Why We Need a Wealth Tax
              p(class='meta-data') Nov 13 - 6 min read
          img(src="../images/placeholder.gif" class='listimg' alt="404")
      div(class='story-grid-story')
          div(class="inner-story")
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2(id='aa') Ivy Getty’s San Francisco Wedding Is Why We Need a Wealth Tax
              p(class='meta-data') Nov 13 - 6 min read
          img(src="../images/placeholder.gif" class='listimg' alt="404")
      div(class='story-grid-story')
          div(class="inner-story")
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2(id='aa') Ivy Getty’s San Francisco Wedding Is Why We Need a Wealth Tax
              p(class='meta-data') Nov 13 - 6 min read
          img(src="../images/placeholder.gif" class='listimg' alt="404")
      div(class='story-grid-story')
          div(class="inner-story")
            div(class='author')
              div(class="profile")
                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                p(class='auth-name') S.BearBergman
              h2(id='aa') Ivy Getty’s San Francisco Wedding Is Why We Need a Wealth Tax
              p(class='meta-data') Nov 13 - 6 min read
          img(src="../images/placeholder.gif" class='listimg' alt="404")
    div(class='eop')
      p Discover The Realm of Computer Science Topics!
      div(class='tag-grid')
        button(class='tag-button') Programming
        button(class='tag-button') Python
        button(class='tag-button') java
        button(class='tag-button') C
        button(class='tag-button') Game programming
        button(class='tag-button') Data Science
        button(class='tag-button') Machine Learning
        button(class='tag-button') Bootcamp
        button(class='tag-button') arm
      ul(class='footer-links')
        li
          a(href="") Help
        li
          a(href="") Status
        li
          a(href="") Writers 
        li
          a(href="") Blog 
        li
          a(href="") Careers
        li
          a(href="") Privacy
        li
          a(href="") Terms 
        li
          a(href="") About

    

  


