extends layout

include mixins/story-grid-items.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/global.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block navbar
  a(href="/" alt="CodeX Home")
    img.logo(src="../images/codexLogo.png" alt="CodeX Logo")
  nav
    a(href="") Our story
    a(href="/login") Write
    a(href="/login") Sign In
    a.login.button.contained.rounded.black(href="/signup") Sign Up

block content
  div(class='content')
    #openingText.wide-container
      div.textwrap.cta-wrapper
        h2.cta-title.serif= title
        p.cta-body.sans-serif It's easy and free to post your thinking on any topic and connect with millions of readers.
        form(action='/login' method='get')
          button.button.contained.rounded.startWriting Start Writing
      img(src="../images/codexLogo.png" class='biglogo' alt="logo")
  .trending.mid-content-enclose
    .mid-content.wide-container.sans-serif
      p.mid-content-title Trending on Codex!
      div(class="story-grid")
        each posts, i in post
          +storyGridItem(posts, i)
  .end-content-wrapper
    .wide-container
      .end-content
        div
          each posts in post
            +detailedStoryGridItem(posts)
        include includes/fixed-footer.pug
