extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/global.css")
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  //- add page specific js

block navbar
  img.logo(src="../images/codexLogo.png" alt="CodeX Logo")
  nav
    a(href="") Our story
    a(href="/login") Write
    a(href="/login") Sign In
    a.login.button.contained.rounded.black(href="/signup") Sign Up

block content
  .form-container-wrapper
    .form-container
      h2 Sign in
      p.sans-serif Enter the email address and password associated with your account.
      form(method="post" action="/login" class='authForm')
        input(type="hidden" name="_csrf" value=csrfToken)

        +field("Your email", "email", user.email, "text", true)
        +field("Your password", "password", '', "password", true)

        button.button.contained.rounded.black Continue
        div.sans-serif
          p Don't have an account yet? 
          span.login-links
            a.button.text(href="/signup") Create one
            |  or 
            a.button.text(href="/login/demo") Login as demo
      