extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")
  //- add page specific js

block content
  form(method="post" action="/login")

    input(type="hidden" name="_csrf" value=csrfToken)

    label(for="email") Email:
    input(required type="email" id="email" name="email")

    label(for="password") Password:
    input(required type="password" id="password" name="password")

    button Submit