extends layout.pug

include mixins/utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  //- add page specific js

block navbar
  a(href="/" alt="CodeX Home")
    img.logo(src="../images/codexLogo.png" alt="CodeX Logo")
  nav
    a(href="") Our story
    a(href="/login") Write
    a(href="/login") Sign In
    a.login.button.contained.rounded.black(href="/signup") Sign Up

block content 
  .form-container-wrapper
    .form-container
      h2 Sign up with email
      p.sans-serif Enter your email address to create an account.
      form(action="/signup" method="post" class='authForm')
        input(type="hidden" name="_csrf" value=csrfToken)

        +field("Your email", "email", user.email, "text", true)
        +field("Your username", "username", user.username, "text", true)
        +field("Your password", "password", '', "password", true)
        +field("Confirm your password", "confirmPassword", '', "password", true)

        button.button.contained.rounded.black Continue
        div.sans-serif
          p Already have an account? 
            span.login-links
              a.button.text(href="/login") Sign in