extends layout.pug 
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  //- add page specific js

block content 
    
    div(id= "form") 

        h2 Sign up with email
        h4 Enter your email address to create an account.

        form(action="/signup" method="post" class='loginForm')
            
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="email") Your email:
            br
            input(type="text" name="email" required)
            br
            label(for="username") Your username:
            br
            input(type="text" name="username" required)
            br
            label(for="password") Enter your password: 
            br
            input(type="password" name="password" required)
            br
            label(for="confirmPassword") Confirm your password: 
            br
            input(type="password" name="confirmPassword" required)
            br
            button Continue
            a(href='/login') Already have an account?