extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/global.css")
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  //- add page specific js

block content 
  .form-container-wrapper
    .form-container
      h2 Sign up with email
      p.sans-serif Enter your email address to create an account.
      form(action="/signup" method="post" class='authForm')
        input(type="hidden" name="_csrf" value=csrfToken)

        +field("Your email", "email", user.email, "text", true)
        +field("Your username", "username", user.username, "text", true)
        +field("Your password", "password", '', "password", true)
        +field("Confirm your password", "password", '', "password", true)

        button.button.contained.rounded.black Continue
        div.sans-serif
          p Already have an account? 
            span.login-links
              a.button.text(href="/login") Sign in