.topbar {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.end-content-wrapper {
  padding: 0;
}

.reco-content{
  display:none;
  margin-top: 16px;
}
.follow-content{
  margin-top:16px;
  display:block;
}
.story-grid-story {
  margin-bottom: 32px;
}

@media (min-width: 552px) {
  .story-grid-story {
    margin-bottom: 48px;
  }
}

.inner-story {
  margin-right: 20px;
}
.bott{
  width:50px;
  height:50px;
}