.topbar {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.end-content-wrapper {
  padding: 0;
}

.reco-content, .follow-content {
  margin-top: 16px;
}

.story-grid-story {
  margin-bottom: 32px;
}

@media (min-width: 552px) {
  .story-grid-story {
    margin-bottom: 48px;
  }
}
