.topbar {
  background-color: #fff;
  border: none;
  box-shadow: none;
  position: static;
}

#form {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding-bottom: 20px;
  padding: 44px 56px;
  text-align: left;
  width: 100%;
}
.write-Content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  display: none;
}

input,
textarea,
.grow-wrapper .grow-hidden {
  background: transparent;
  border: 0;
  outline: 0;
  text-align: left;
  width: 700px;
}

#subText,
#headerImage,
#mainText {
  margin-top: 12px;
}

#headerImage {
  font-size: 14px;
}

.grow-hidden {
  margin-top: 12px;
  padding: 2px;
}

#mainText {
  resize: none;
}

#mainText,
.grow-hidden {
  font-size: 16px;
  letter-spacing: -0.004em;
}

a {
  text-decoration: underline;
}

#mainText:focus ~ .input-helper {
  opacity: 1;
  transition: all 0.25s linear 0s;
  visibility: visible;
}

.input-helper {
  color: #757575;
  opacity: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 4px;
  padding-left: 8px;
  transition: all 0.25s linear 0.5s;
  visibility: hidden;
}

input:focus,
textarea:focus {
  /* The first shadow should match the background of the page */
  box-shadow: -6px 0 0 #fff, -8px 0 0 #e6e6e6;
}

@media (min-width: 552px) {
  #mainText,
  .grow-hidden {
    font-size: 18px;
    letter-spacing: -0.003em;
    line-height: 28px;
  }
}

@media screen and (min-width: 728px) {
  #mainText,
  .grow-hidden {
    font-size: 21px;
    line-height: 32px;
  }
}
