.topbar {
  position: relative;
  z-index: 500;
}

#form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  left: 50%;
  padding-bottom: 20px;
  padding: 44px 56px;
  text-align: left;
  width: 100%;
}
.write-Content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  display: none;
}

input,
textarea {
  background: transparent;
  border: 0;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  outline: 0;
  text-align: left;
  width: 700px;
}

#heading {
  font-size: 42px;
}

#subText,
#headerImage,
#mainText {
  font-size: 20px;
  margin-top: 10px;
}

#mainText {
  font-size: 21px;
  resize: none;
}

.pstBtn {
  background-color: #1a8917;
  border-color: #1a8917;
  border-radius: 99em;
  color: white;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font: 14px;
  padding: 7px 16px 9px;
  width: 226px;
}

p {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
