.topbar {
    position: relative;
    z-index: 500;
}

#form { 
    display:flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    padding-bottom: 20px;
    text-align: left;
    /*box-shadow: 0px 0px 8px;*/
    padding: 44px 56px;
    width:100%;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
.write-Content{
    display: flex;
    align-items: center;
}

label {
    display: none;
}

input, textarea {
  text-align: left;
  border: 0;
  outline: 0;
  background: transparent;
  width: 700px;
  font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

#heading {
    font-size: 42px;
}

#subText, #headerImage, #mainText {
    font-size: 20px;
    margin-top: 10px;
}

#mainText {
    font-size: 21px;
    resize: none;
}

.pstBtn {
    padding: 7px 16px 9px;
    color:white;
    font: 14px;
    font-weight: 400;
    border-color: #1a8917;
    border-radius: 99em;
    background-color: #1a8917;
    font-size: 15px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    width: 226px;
    /*margin-top: 12px;*/
    /*margin-bottom: 15px;*/
    cursor: pointer;
}

p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /*font-style: italic;*/
    /*font-weight: lighter;*/
}
