body,
.serif {
  font-size: 16px;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sans-serif,
.button {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: #292929;
  font-size: 32px;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  color: #757575;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 904px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 22px;
  }
}

.inherit-color {
  color: inherit;
}

.button {
  font-size: 14px;
  padding: 7px 16px 9px;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.button.rounded {
  border-radius: 99em;
}

.button.text {
  color: #1a8917;
  padding: 0;
}

.button.outlined {
  border: 1px solid #1a8917;
  color: #1a8917;
}

.button.contained {
  background-color: #1a8917;
  border: 1px solid #1a8917;
  color: #fff;
}

.button.contained:hover {
  background-color: #0f730c;
  border: 1px solid #0f730c;
}
