h1 {
    color: black;
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
}
#openingText{
    padding:20px;
    margin-left: 50px;
    max-width:500px;
}
#startWriting{
    font-size:12px;
    color:black;
    border: 1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    padding-left:15px;
    background-color: white;
    border-radius: 25px;
}
#navbar{
    display: flex;
    flex-direction:row;
    list-style: none;
    justify-content: flex-end;
    text-decoration:none;
    margin-top:20px;
    margin-right:100px;
    margin-bottom:20px;
  }
  #login {
    font-size:12px;
    color:white;
    border: 2px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:15px;
    padding-left:15px;
    background-color: black;
    border-radius: 25px;
  }
  #logo{
    max-width:400px;
    max-height:60px;
    margin-top:10px;
    margin-left:70px;
    
  }
  .topbar{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    width:100%;
    background-color:#C4E2FF;
    
  }
  .background{
      background-color:#C4E2FF;
      border-bottom: 1px solid black;
      padding-top:70px;
  }
  li {
    padding:10px;
  }
  a {
    text-decoration:none;
  }
  
  