.cta-title {
    color: #080808;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 74px;
}

.cta-body {
    color: #292929;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
}

.cta-wrapper .button.contained {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  fill: #000;
}

.cta-wrapper .button.contained:hover {
  background-color: #f9f9f9;
  border-color: #292929;
  color: #080808;
  fill: #080808;
}

#navbar {
  font-size: 14px;
}

#navbar li {
    padding:10px;
}

a {
  transition-property: color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  text-decoration:none;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.topcontent{
  align-items: center;
  display:flex;
  justify-content: space-between;
}

#openingText{
    align-items:center;
    display:flex;
    justify-content:space-between;
    padding-bottom: 30px;
    padding-top: 33px;
}

.textwrap{
  max-width:500px;
}
.biglogo{
  height: 200px;
  width: 500px;
}
.startWriting{
  font-size: 16px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: color;
  transition: color 0.7s;
}

#navbar{
  position:relative;
  display: flex;
  flex-direction:row;
  align-items:center;
  list-style: none;
  text-decoration:none;
}

.login {
  transition-property: color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition: background-color 0.7s;
}
.login.button.black:hover{
  color:rgba(255, 255, 255, 0.90);
}

#logo{
  max-height: 40px;
}
  .topbar{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction:row;
    justify-content:center;
    position:fixed;
    width:100%;
    z-index:1;
    transition: background-color 0.7s;
    height: 75px;
  }
  .topbar-spacer {
    height: 75px;
  }
  .topbarB{
    background-color:#c2c0c0;
  }
  .topbarA{
      background-color:white;
  }
  .background{
      background-color:#c2c0c0;
      border-bottom: 1px solid black;
      padding-top:70px;
      position:absolute;
      height:450px;
      width:100vw;
      z-index:-1;
  }
  .story-grid{
      width:100%;
      display:inline-grid;
      grid-template-columns: repeat(1, 1fr);
  }
  .story-grid-story{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 auto;
  }

  @media (min-width: 728px) {
    .story-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1080px) {
    .story-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

.heading h2 {
  color: #292929;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .content{
      display:flex;
      margin:auto;
      justify-content:center;
      background-color: lightgray;
      border-bottom:1px solid black;
  }
.mid-content{
  padding: 25px 0;
}

.mid-content-title {
  color: #292929;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.083em;
  line-height: 16px;
  text-transform: uppercase;
}

.mid-content-enclose{
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
}

.trending .story-grid {
  gap: 25px;
}
.trending .story-grid-story {
  align-items: baseline;
}
.trending .inner-story {
  display: flex;
}
.inner-story{
  min-width: 0;
  width: 100%;
}

.auth-name{
  color: #292929;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0;
  margin-left:7px;
  margin-top: 0;
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
  .author{
      padding-top:10px;
  }
  .num{
      font-size:30px;
      padding-right:20px;
      margin-top:0px;
      color:lightgrey;
      font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight:900;
  }
  
.profile{
  display:flex;
  margin-bottom: 8px;
  align-items: center;
}
  .date{
      font-size:12px;
      color:#757575;
  }
  .meta-data{
      margin: 0;
      padding-top: 8px;
      font-size: 13px;
      line-height: 20px;
      color:#757575;
  }
  .profpic{
      border-radius:100%;
      height:20px;
      width:20px;
  }
  .profpic:hover{
      cursor:pointer;
  }
.end-content-wrapper {
    display:flex;
    padding: 35px 0;
    justify-content:center;
}

.end-content {
  display: flex;
}

.end-content .story-grid-story {
  margin-bottom: 32px;
}

@media (min-width: 552px) {
  .end-content .story-grid-story {
    margin-bottom: 48px;
  }
}

.end-content .inner-story {
  margin-right: 20px;
}

.headings-wrapper h2,
.headings-wrapper h3 {
  display: block;
}

.headings-wrapper h2 {
  color: #292929;
  font-weight: 700;
}

.headings-wrapper h3 {
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
  .listimg{
      height: 134px;
      width: 200px;
  }
  .eop{
      position:sticky;
      top:90px;
      box-sizing:border-box;
      width:400px;
      height:400px;
      padding:25px;
      margin:0 50px;
  }
  .tag-grid{
      border-bottom: 1px solid lightgrey;
      padding-bottom:25px;
  }
  .tag-button{
      color:rgb(141, 141, 141);
      background-color:white;
      border: 1px solid rgb(141, 141, 141);
      border-radius:4px;
      width:fit-content;
      margin:10px;
      margin-left:0px;
      margin-bottom:3px;
      padding:10px;
  }
.footer-links{
  padding: 24px 0;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  list-style:none;
  color:rgb(141, 141, 141);
}

.discover-heading {
  color: #292929;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.083em;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-links li {
  color: #757575;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-right: 26px;
}

  .footer{
      max-width:100px;
  }
  .dropdown{
      position:absolute;
      background-color:white;
      box-shadow: 3px 3px 3px grey;
      width:270px;
      height:500px;
      border-radius:5px;
      border: 1px solid lightgray;
      padding:25px;
      padding-bottom:0px;
      flex-direction:column;
      top:60px;
      right:20px;
      display:none;
  }
  .dselect{
    padding-top:10px;
    margin:0px;
    text-decoration: none;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 800;
    padding-left:0px;
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0s;
    display:flex;
  }
  .dselect:hover{
    color: rgba(0, 0, 0, 0.5);
  }
  .profname{
      margin:0px;
  }
  .namediv{
      padding-bottom:10px;
      padding-left:10px;
  }
  .outernamediv{
      display:flex;
      align-items:center;
      border-bottom:1px solid grey;
  }
  .follow-recommend{
      position:relative;
      top:83px;
      width:fit-content;
      height:auto;
      margin:auto;
      padding:25px;
  }
  .sub-navbar{
      margin-bottom:20px;
      width:auto;
      display:flex;
      flex-direction:column;
      align-items:flex-start;
      
  }
  .snb{
      font-size:15px;
      color:black;
      border-bottom:3px solid black;
      text-align:left;
      width:100%;
  }
  .snbOff{
    font-size:15px;
    color:grey;
    border-bottom:3px solid grey;
    text-align:left;
    width:100%;
}
.reco-content{
    display:none;
}
.empty-follow{
    width:675px;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
}
.browse{
    color:white;
    font-weight:500;
    background-color:rgb(51, 179, 51);
    justify-content:center;
    width:250px;
}