.form-container-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.form-container {
  align-items: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 695px;
  padding: 44px 56px;
  text-align: center;
}

form {
  margin-top: 50px;
}

button {
  background-color: #191919;
  border-color: #191919;
  border-radius: 99em;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font: 14px;
  margin-bottom: 15px;
  margin-top: 12px;
  padding: 7px 16px 9px;
  width: 226px;
}

button:hover {
  background: rgba(8, 8, 8, 1);
  border-color: rgba(41, 41, 41, 1);
  cursor: pointer;
}

label {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 12px;
}

input {
  border: 0;

  background: transparent;
  border-bottom: 1px solid rgba(41, 41, 41, 1);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  outline: 0;
  text-align: center;
  width: 270px;
}

label,
input {
  display: block;
}

.authForm {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.field-group {
  margin-bottom: 28px;
  margin-top: 12px;
}

.login-links a {
  font-size: 16px;
  font-weight: 700;
}
