header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -1px 0 rgb(230 230 230);
  min-height: 115px;
}

header .container {
  max-width: 1192px;
  width: 100%;
}

header .logo {
  height: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left > * {
  margin-right: 12px;
}

.navbar-right > * {
  margin-left: 12px;
}

.navbar-right .logo {
  margin-left: 22px;
}

header .name {
  color: #191919;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 34px;
  word-break: break-word;
  margin-right: 24px;
}

.content-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292929;
}

h1 {
  line-height: 40px;
  margin-top: 34px;
}

h2 {
  line-height: 24px;
  margin-top: 0.8em;
}

.container {
  margin: 0 24px;
  max-width: 728px;
  width: 100%;
}

.story-image {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 100%;
}

.subtitle {
  color: #757575;
  font-weight: normal;
}

.story-details {
  display: flex;
  margin-top: 32px;
  font-size: 14px;
}

.story-details .story-date {
  padding-left: 8px;
}

blockquote {
  box-shadow: inset 3px 0 0 0 rgb(41 41 41);
  margin-left: -20px;
  padding-left: 23px;
}

code {
  background: #f2f2f2;
  font-size: 75%;
  padding: 2px 4px;
}

hr {
  border: 0;
  margin-bottom: 14px;
  margin-top: 32px;
  padding-bottom: 10px;
}
hr::after {
  content: "...";
  font-size: 30px;
  color: #080808;
  display: block;
  text-align: center;
  letter-spacing: 20px;
}

pre {
  background: #f2f2f2;
  margin-top: 40px;
  overflow-x: auto;
  padding: 20px;
}

pre code {
  font-size: 100%;
}

.story-footer {
  padding-bottom: 8px;
}

.story-footer .left {
  color: #292929;
  display: flex;
}

.story-footer a {
  cursor: pointer;
}

.story-footer .left i:hover {
  color: #757575;
}

.story-footer .likes,
.story-footer .comments {
  font-size: 14px;
  line-height: 20px;
  padding-right: 32px;
}

.story-footer .likes i {
  font-size: 25px;
  padding-right: 8px;
}

.story-footer .comments i {
  font-size: 25px;
  padding-left: 8px;
  transform: scale(-1, 1);
}

.story-footer #like-post[data-liked] i {
  color: #1a8917;
}
.story-footer #like-post[data-liked] i:hover {
  color: #0f730c;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.98);
  display: flex;
  justify-content: center;
  padding: 32px 0;
  width: 100%;
}

footer .container {
  margin: 0 24px;
  max-width: 1192px;
  width: 100%;
}

footer .content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .logo {
  height: 30px;
  filter: invert(1);
}

footer a {
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer nav {
  padding: 20px 0px 28px;
  justify-content: space-between;
  display: flex;
}

footer nav > a {
  margin: 0 8px;
}
footer nav > a:first-of-type {
  margin-left: 0;
}
footer nav > a:last-of-type {
  margin-right: 0;
}

@media (min-width: 552px) {
  pre {
    margin-top: 40px;
  }
}

@media screen and (min-width: 728px) {
  .container {
    margin: 0px 48px;
  }

  pre {
    margin-top: 56px;
  }

  footer .container {
    margin: 0 48px;
  }
}

@media (min-width: 904px) {
  .container {
    margin: 0px 64px;
  }

  .story-image {
    margin-top: 32px;
  }

  h1 {
    margin-top: 50px;
    line-height: 56px;
  }

  h2 {
    margin-top: 1em;
  }

  footer .container {
    margin: 0 64px;
  }

  footer nav {
    padding: 0;
  }

  footer .content-wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
